<br>
<div class="container">
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="total_orders">
                <div class="card-header" style="background-color: #ffcad4;">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body" style="background-color: #ffe5ec;">
                    <h3 class="card-title">{{ total_orders }}</h3>
                </div>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="col-md">
            <div class="card text-center  mb-3" id="total_orders">
                <div class="card-header" style="background-color: #d8e2dc;">
                    <h5 class="card-title" >Orders Delivered</h5>
                </div>
                <div class="card-body" style="background-color: #e9f0eb;" >
                    <h3 class="card-title">{{ delivered }}</h3>
                </div>
            </div>
        </div>
    </div>

        <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="total_orders">
                <div class="card-header" style="background-color: #ffe5d9;">
                    <h5 class="card-title">Orders Pending</h5>
                </div>
                <div class="card-body" style="background-color: #fff1eb;">
                    <h3 class="card-title">{{ pending }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</div>